# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\·çÆð\Documents\WeChat Files\wxid_a1iioijm0df322\FileStorage\File\2021-05\PicturesBrowser-10.0\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
